@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.header {
    padding: px-to-rem(35 16);
    position: sticky;
    top: 0;
    z-index: 1000;

    @include respond-to(tablet) {
        padding: px-to-rem(32 64);
    }

    @include respond-to(desktop) {
        margin-top: px-to-rem(34);
        padding: px-to-rem(32 123);
    }

    &__nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(tablet) {
            > * {
                flex: 1;
            }
        }

        @include respond-to(desktop) {
            > * {
                flex: 0;
            }
        }
    }

    &__icons {
        display: flex;
        padding: px-to-rem(4);
    }

    &__logo-wrapper {
        padding: px-to-rem(4) 0;
        @include respond-to(tablet) {
            order: 1;
            display: flex;
            justify-content: center;
            padding: 0;
        }

        @include respond-to(desktop) {
            order: 0;
            justify-content: flex-start;
            padding-right: 0;
        }
    }

    &__logo {
        background-image: linear-gradient(
            to right,
            $color-secondary,
            $color-primary
        );
        color: transparent;
        background-clip: text;
    }

    &__icon-wrapper {
        @include respond-to(desktop) {
            display: none;
        }
    }

    &__hamburger-icon {
        &:hover {
            &::before {
                color: darken($color-primary, 20%);
            }
        }
    }

    &__logo,
    &__hamburger-icon {
        font-size: px-to-rem(40);
        width: px-to-rem(40);
    }

    &__menubar {
        @include invisible;
        right: -100%;
        display: flex;
        flex-direction: column;
        padding: px-to-rem(16);

        &--visible {
            right: px-to-rem(10);
            visibility: visible;
        }

        @include respond-to(tablet) {
            all: unset;
            position: static;
            order: 1;
            flex: 1;
        }

        @include respond-to(desktop) {
            all: unset;
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__nav-links {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: px-to-rem(16);

        @include respond-to(tablet) {
            @include invisible;
            gap: px-to-rem(40);
            left: -100%;
            padding: px-to-rem(16);

            &--visible {
                visibility: visible;
                left: px-to-rem(50);
            }
        }

        @include respond-to(desktop) {
            all: unset;
            font-size: px-to-rem(14);
            position: static;
            margin: 0 auto;
            height: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: px-to-rem(64);
            background-color: transparent;
            padding: 0;
        }
    }

    &__nav-link {
        font-size: inherit;
        padding: px-to-rem(8);
        border-bottom: solid px-to-rem(2) $color-text-x-light;
        display: block;
        cursor: pointer;
        text-align: center;
        border-radius: px-to-rem(8);

        @include respond-to(desktop) {
            color: $color-text-light;
            border: none;
            background-color: transparent;
            display: inline;
            padding: 0;

            &:hover {
                background-color: transparent;
            }
        }

        &--active {
            color: $color-dark;
            background-color: $color-white;
        }

        &:hover {
            color: $color-dark;
            background-color: rgba(255, 255, 255, 0.5);

            @include respond-to(desktop) {
                color: $color-primary;
            }
        }
    }

    &__btn-group {
        display: flex;
        justify-content: center;
        row-gap: px-to-rem(10);
        column-gap: px-to-rem(8);

        @include respond-to(mobile, max-width) {
            flex-wrap: wrap;
        }

        @include respond-to(tablet) {
            align-items: center;
            column-gap: 0;
            gap: px-to-rem(6);
            justify-content: flex-end;
            order: 2;
        }
    }

    &--sticky {
        background-color: $color-white;
        overflow: hidden;
    }
}
