@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.header {
    padding: px-to-rem(35) 0;
    margin: 0 px-to-rem(16);

    @include respond-to(tablet) {
        margin: 0 px-to-rem(64);
        padding: px-to-rem(32) 0;
    }

    @include respond-to(desktop) {
        margin: px-to-rem(34 98.22 0);
        margin-left: px-to-rem(149.13);
        padding: px-to-rem(32) 0;
    }

    &__nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond-to(tablet) {
            > * {
                flex: 1;
            }
        }

        @include respond-to(desktop) {
            > * {
                flex: 0;
            }
        }
    }

    &__icons {
        display: flex;
        padding: px-to-rem(4);
    }

    &__logo-wrapper {
        padding: px-to-rem(4) 0;
        @include respond-to(tablet) {
            order: 1;
            justify-content: center;
            padding: 0;
        }

        @include respond-to(desktop) {
            order: 0;
            justify-content: flex-start;
            padding-right: 0;
        }
    }

    &__logo {
        background-image: linear-gradient(
            to right,
            $color-secondary,
            $color-primary
        );
        color: transparent;
        background-clip: text;
    }

    &__icon-wrapper {
        @include respond-to(desktop) {
            display: none;
        }
    }

    &__hamburger-icon {
        &:hover {
            &::before {
                color: darken($color-primary, 20%);
            }
        }
    }

    &__logo,
    &__hamburger-icon {
        font-size: px-to-rem(40);
        width: px-to-rem(40);
    }

    &__menubar {
        @include invisible;
        border: none;
        left: 100vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: px-to-rem(16);
        width: 50%;

        &--visible {
            visibility: visible;
            left: 100%;
            transform: translateX(-100%);
        }

        @include respond-to(tablet) {
            all: unset;
            position: static;
            order: 1;
            flex: 1;
        }

        @include respond-to(desktop) {
            all: unset;
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__nav-links {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include respond-to(tablet) {
            @include invisible;
            right: 100vw;
            height: 50vh;
            padding: px-to-rem(16);
            transform: translateX(0);
            width: 30%;

            &--visible {
                visibility: visible;
                right: 100%;
                transform: translateX(100%);
            }
        }

        @include respond-to(desktop) {
            all: unset;
            font-size: px-to-rem(14);
            position: static;
            margin: 0 auto;
            height: auto;
            transform: none;
            transition: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: px-to-rem(64);
            background-color: transparent;
            padding: 0;
        }
    }

    &__nav-link {
        font-size: inherit;
        padding: px-to-rem(8);
        border-bottom: solid px-to-rem(2) $color-text-x-light;
        color: $color-text-light;
        display: block;
        cursor: pointer;
        text-align: center;

        &--active {
            color: $color-dark;
        }

        &:hover {
            color: $color-primary;
        }

        @include respond-to(desktop) {
            padding: 0;
            border: none;
            background-color: transparent;
            display: inline;
            padding: 0;

            &:hover {
                background-color: transparent;
            }
        }
    }

    &__btn-group {
        display: flex;
        justify-content: center;
        row-gap: px-to-rem(10);
        column-gap: px-to-rem(8);

        @include respond-to(mobile, max-width) {
            flex-wrap: wrap;
        }

        @include respond-to(tablet) {
            align-items: center;
            column-gap: 0;
            gap: px-to-rem(6);
            justify-content: flex-end;
            order: 2;
        }
    }
}
