@use '../abstracts' as *;

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: px-to-rem(10 16);
    font-family: $font-primary;
    font-weight: 700;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    border: none;
    border-radius: px-to-rem(100);
    cursor: pointer;
    width: 40%;
    @include transition(background-color, 0.2s, ease);

    @include respond-to(mobile, max-width) {
        width: 100%;
    }

    @include respond-to(tablet) {
        padding: px-to-rem(16 32);
        width: auto;
    }

    @include respond-to(desktop) {
        padding: px-to-rem(16 32);
        width: auto;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-light;

        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }

    &--secondary {
        background-color: $color-white;
        color: $color-dark;

        &:hover {
            background-color: darken($color-white, 10%);
        }
    }

    &--light {
        background-color: $color-light;
    }

    &--dark {
        background-color: $color-dark;
    }

    &--outline {
        border: solid px-to-rem(1) $color-light;
    }

    &--sm {
        padding: px-to-rem(32 64);
        border-radius: px-to-rem(32);
        font-size: $font-size-md;
        background-color: $color-white;
    }

    &--lg {
        padding: px-to-rem(24 32);
    }

    &--md {
        padding: px-to-rem(24 64);
        border-radius: px-to-rem(16);
        font-size: $font-size-base;
    }

    &:focus-visible {
        outline: px-to-rem(2) solid $color-primary;
        outline-offset: px-to-rem(2);
    }
}
