@use '../abstracts' as *;

$font-size-card-heading-sm: px-to-rem(23);
$font-size-card-heading-md: px-to-rem(24);
$font-size-card-heading-lg: px-to-rem(28);
$font-size-card-heading-x-lg: px-to-rem(35);

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-rem(32);
    padding: px-to-rem(32);
    border: solid px-to-rem(1) $color-black-light;
    border-radius: px-to-rem(32);
    background-color: $color-white;

    &__heading {
        text-align: center;

        &--standard {
            font-size: $font-size-card-heading-md;
            @include line-clamp(3);

            @include respond-to(tablet) {
                font-size: $font-size-card-heading-lg;
            }
        }

        &--sm {
            font-size: $font-size-card-heading-sm;
            @include line-clamp();
        }

        &--md {
            font-size: $font-size-card-heading-lg;
            @include line-clamp();
        }

        &--lg {
            font-size: $font-size-card-heading-x-lg;
            @include line-clamp();
        }

        &--highlight {
            color: $color-orange;
        }

        &--left {
            text-align: left;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(32);

        &--gap-md {
            gap: px-to-rem(14);
        }

        &--gap-sm {
            gap: px-to-rem(8);
        }
    }

    &--lg {
        @include respond-to(tablet) {
            padding: px-to-rem(64);
            padding-bottom: px-to-rem(35);
            gap: px-to-rem(64);
            min-width: 32%;
        }

        @include respond-to(desktop) {
            padding-bottom: px-to-rem(98);
            min-width: 45%;
        }
    }

    &--horizontal {
        align-items: flex-start;

        @include respond-to(tablet) {
            flex-direction: row;
            align-items: center;
            padding-bottom: px-to-rem(24);
        }
    }

    &--unbordered {
        border: solid 1px transparent;

        &:hover {
            border: solid px-to-rem(1) $color-black-light;
            box-shadow: none;
        }
    }

    &:hover {
        box-shadow:
            px-to-rem(0 0 0 0) rgba(0, 0, 0, 0.1),
            px-to-rem(0 41 89 0) rgba(0, 0, 0, 0.1);
    }
}
