//Colors
$color-primary: #5d50c6;
$color-secondary: #ffffff;
$color-pink: #f85e9f;
$color-accent: #ff5722;
$color-text: #191825;
$color-yellow: #facd49;
$color-black: #000000;
$color-dark: #222831;
$color-light: #eeeeee;

//Typography
$font-primary: 'Circular Std', sans-serif;
