//Colors
$color-primary: #5d50c6;
$color-secondary: #ffffff;
$pink: #f85e9f;
$color-accent: #ff5722;
$color-text: #191825;
$yellow: #facd49;
$black: #000000;
$dark: #222831;
$light: #eeeeee;

//Typography
$font-primary: 'Circular Std', sans-serif;
