@use '../../abstracts/variables' as *;
@use '../../abstracts/functions' as *;
@use '../../abstracts/mixins' as *;

$box-shadow-tag:
    px-to-rem(0 0 0 0) rgba(0, 0, 0, 0.07),
    px-to-rem(0 34 75 0) rgba(0, 0, 0, 0.07),
    px-to-rem(0 137 137 0) rgba(0, 0, 0, 0.06),
    px-to-rem(0 308 185 0) rgba(0, 0, 0, 0.04),
    px-to-rem(0 548 219 0) rgba(0, 0, 0, 0.01),
    px-to-rem(0 856 240 0) rgba(0, 0, 0, 0);

.hero {
    display: flex;
    flex-direction: column;
    margin: px-to-rem(29 16 64);
    gap: px-to-rem(32);

    @include respond-to(tablet) {
        margin: px-to-rem(0 64 32);
        padding: px-to-rem(64 0);
        gap: px-to-rem(64);
    }

    @include respond-to(desktop) {
        flex-direction: row;
        justify-content: center;
        gap: 0;
        margin: px-to-rem(0 123);
    }

    &__image {
        display: flex;
        justify-content: center;

        @include respond-to(tablet) {
            margin: px-to-rem(0 62);
        }

        @include respond-to(desktop) {
            margin: 0;
            order: 1;
            justify-content: flex-start;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(32);

        @include respond-to(tablet) {
            gap: px-to-rem(43);
            align-items: center;
            padding: px-to-rem(0 160);
        }

        @include respond-to(desktop) {
            padding: 0;
            align-items: flex-start;
            justify-content: center;

            width: 35%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(24);

        @include respond-to(tablet) {
            gap: px-to-rem(43);
            align-items: center;
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(16);
        align-items: center;
        text-align: center;

        @include respond-to(tablet) {
            gap: px-to-rem(43);
        }

        @include respond-to(desktop) {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__highlight {
        color: $color-secondary;
    }

    &__heading-tag {
        display: flex;
        align-items: center;
        gap: px-to-rem(16);
        padding: px-to-rem(16 32);
        border-radius: px-to-rem(100);
        background-color: $color-white;
        font-family: $font-primary;
        font-size: $font-size-sm;

        box-shadow: $box-shadow-tag;
    }

    &__desc {
        @include respond-to(tablet) {
            padding: px-to-rem(0 70);
        }
        @include respond-to(desktop) {
            padding: 0;
            padding-right: px-to-rem(120);
            text-align: left;
        }
    }

    &__button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: px-to-rem(24);

        @include respond-to(tablet) {
            flex-direction: row;
            gap: px-to-rem(16);
        }

        & .button {
            display: flex;
            align-items: center;
            gap: px-to-rem(8);
        }
    }

    &__text-span {
        display: inline-block;
        height: px-to-rem(24);
        padding: px-to-rem(4 0);
    }

    &__icons {
        padding: px-to-rem(2 2);
        font-size: px-to-rem(20);
    }
}
