@use '../../abstracts' as *;

.services {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: px-to-rem(32);
    margin: px-to-rem(64 16);

    @include respond-to(tablet) {
        gap: px-to-rem(64);
        margin: px-to-rem(0 64);
        padding: px-to-rem(64 0);
    }

    @include respond-to(desktop) {
        flex-direction: row;
        align-items: center;
        gap: 0;
        margin: px-to-rem(0 123);

        &__card:last-child {
            display: none;
        }
    }

    &__head {
        flex: 1;
        overflow: hidden;
    }

    &__heading {
        @include line-clamp(3);
    }

    &__cards {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: px-to-rem(16);
        overflow: auto;

        @include respond-to(tablet) {
            flex-direction: row;
        }

        @include respond-to(desktop) {
            max-width: 90%;
            gap: px-to-rem(21);
        }
    }

    &__card-description {
        @include line-clamp(6);
    }
}
