@use '../../abstracts' as *;

.travelpoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px-to-rem(37.5);
    margin: px-to-rem(68 16 93);
    position: relative;

    @include respond-to(tablet) {
        margin: px-to-rem(0 64);
        padding: px-to-rem(64 32);
        gap: px-to-rem(64);
    }

    @include respond-to(desktop) {
        margin: px-to-rem(0 123);
        padding: px-to-rem(64 0);
        flex-direction: row;
        gap: unset;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(32);

        @include respond-to(tablet) {
            gap: px-to-rem(64);
        }

        @include respond-to(desktop) {
            width: 45%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(32);

        .description {
            padding: px-to-rem(0 16);

            @include respond-to(desktop) {
                padding: 0;
                text-align: left;
            }
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: px-to-rem(16);

        @include respond-to(desktop) {
            align-items: flex-start;
        }
    }

    &__cards,
    &__card {
        display: flex;
        flex-direction: column;
        gap: px-to-rem(16);
    }

    &__cards {
        @include respond-to(tablet) {
            flex-direction: row;
            gap: px-to-rem(32);
            flex-wrap: wrap;
        }
    }

    &__card {
        @include respond-to(tablet) {
            flex: auto;
            width: 40%;
        }
    }

    &__milestone {
        font-weight: 700;
        font-size: px-to-rem(35);
        line-height: $line-height-base;
        color: $color-orange;
    }

    &__card-description {
        color: $color-black;

        @include respond-to(mobile) {
            font-size: px-to-rem(18);
        }
    }

    &__coupon-icon {
        display: none;

        @include respond-to(desktop) {
            display: block;
            position: absolute;
            top: px-to-rem(302);
            right: px-to-rem(-56);
        }
    }
}
