@use '../abstracts' as *;

// Global body text styling
.body {
    font-family: $font-primary;
    font-size: $font-size-base;
    background-color: $color-white;

    &--no-scroll {
        overflow: hidden;
        width: 100%;
    }

    &__main {
        width: 100%;
        &--blur {
            filter: blur(px-to-rem(2));

            @include respond-to(desktop) {
                filter: none;
            }
        }
    }
}
