@font-face {
    font-family: 'Circular Std';
    src:
        url('/assets/fonts/CircularStd.woff2') format('woff2'),
        url('/assets/fonts/CircularStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
